

@font-face {
    font-family: 'kerox';
    src: url('kerox-noncommercial-webfont.woff2') format('woff2'),
         url('kerox-noncommercial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}